extends ./../../layouts/main

block content
    section.about__wrapper
        .container.about
            .about__content
                .main-title
                    .main-title__large Out Story

                .about__text
                    p
                        | Launced in 2015, Exclusive is South Asia’s premier online shopping makterplace with an active
                        | presense in Bangladesh. Supported by wide range of tailored marketing, data and service solutions,
                        | Exclusive has 10,500 sallers and 300 brands and serves 3 millioons customers across the region.

                    p
                        | Exclusive has more than 1 Million products to offer, growing at a very fast. Exclusive offers
                        | a diverse assotment in categories ranging  from consumer.

            img(src='/assets/images/about/side-image.jpg').about__image



    section
        .container
            .categories-list
                a(href='#').category.large
                    .category__icon.dark-circle
                        img(src='/assets/images/icons/categories/Icon-Shopping.svg')
                    p.category__title 10.5K
                    p.category__description Sallers active our site

                a(href='#').category.large
                    .category__icon.dark-circle
                        img(src='/assets/images/icons/categories/Icon-Sale.svg')
                    p.category__title 33K
                    p.category__description Mopnthly Produduct Sale

                a(href='#').category.large
                    .category__icon.dark-circle
                        img(src='/assets/images/icons/categories/Icon-Moneybag.svg')
                    p.category__title 45.5K
                    p.category__description Customer active in our site

                a(href='#').category.large
                    .category__icon.dark-circle
                        img(src='/assets/images/icons/categories/Icon_shop.svg')
                    p.category__title 25K
                    p.category__description Anual gross sale in our site


    section
        .container
            .slider.horizontal
                .slider__inner
                    .slide
                        header
                            img(src='/assets/images/about/slider/slide-1.png')

                        .slide__content
                            .slide__title Tom Cruise
                            .slide__description Founder & Chairman

                        footer
                            a(href='#').slide__network-icon
                                img(src='/assets/images/icons/networks/dark/Icon-Twitter.png')
                            a(href='#').slide__network-icon
                                img(src='/assets/images/icons/networks/dark/Icon-Instagram.png')
                            a(href='#').slide__network-icon
                                img(src='/assets/images/icons/networks/dark/Icon-Linkedin.png')

                    .slide
                        header
                            img(src='/assets/images/about/slider/slide-2.png')

                        .slide__content
                            .slide__title Emma Watson
                            .slide__description Managing Director

                        footer
                            a(href='#').slide__network-icon
                                img(src='/assets/images/icons/networks/dark/Icon-Twitter.png')
                            a(href='#').slide__network-icon
                                img(src='/assets/images/icons/networks/dark/Icon-Instagram.png')
                            a(href='#').slide__network-icon
                                img(src='/assets/images/icons/networks/dark/Icon-Linkedin.png')

                    .slide
                        header
                            img(src='/assets/images/about/slider/slide-3.png')

                        .slide__content
                            .slide__title Will Smith
                            .slide__description Product Designer
                        footer
                            a(href='#').slide__network-icon
                                img(src='/assets/images/icons/networks/dark/Icon-Twitter.png')
                            a(href='#').slide__network-icon
                                img(src='/assets/images/icons/networks/dark/Icon-Instagram.png')
                            a(href='#').slide__network-icon
                                img(src='/assets/images/icons/networks/dark/Icon-Linkedin.png')
                footer
                    .slide-link
                    .slide-link
                    .slide-link.active
                    .slide-link
                    .slide-link

    section.services
        .container
            .services-list
                .service
                    img(src='/assets/images/home/services/Services-0.png').service__icon
                    p.service__title FREE AND FAST DELIVERY
                    p.service__text Free delivery for all orders over $140

                .service
                    img(src='/assets/images/home/services/Services-1.png').service__icon
                    p.service__title 24/7 CUSTOMER SERVICE
                    p.service__text Friendly 24/7 customer support

                .service
                    img(src='/assets/images/home/services/Services-2.png').service__icon
                    p.service__title MONEY BACK GUARANTEE
                    p.service__text We return money within 30 days