extends ./../../layouts/main

block content
    section.authentic__wrapper
        .container.authentic
            img(src='/assets/images/auth/side-image.png').authentic__side-image

            .auth-form.register-form
                header
                    .auth-form__title Create an account
                    .auth-form__subtitle Enter your details below

                .auth-form__inner
                    input(placeholder='Name')
                    input(type='email', placeholder='Email or Phone Number')
                    input(type='password', placeholder='Password')

                footer
                    a(href='#').btn.btn--danger Create Account
                    a(href='#').btn.btn--light Sign up with google

                    p
                        | Already have account?
                        a(href='/login/').login-link  Log in