extends ./../../layouts/main

block content
    section
        .container
            header
                .main-title__medium Wishlist (4)
                .btn.btn--light Move All To Bag

            .catalog-list
                +catalog-item(
                    "/assets/images/catalog/BestSelling/product-3.png",
                    "title",
                    '200',
                    {
                        progress: {
                            value: 65,
                            reviews_count: 85
                        },
                        old_price: 800,
                        icons: {
                            favourite: false,
                            show: true,
                        }
                    }
                )
                +catalog-item(
                    "/assets/images/catalog/BestSelling/product-3.png",
                    "title",
                    '200',
                    {
                        progress: {
                            value: 65,
                            reviews_count: 85
                        },
                        old_price: 800,
                        icons: {
                            favourite: false,
                            show: true,
                        }
                    }
                )
                +catalog-item(
                    "/assets/images/catalog/BestSelling/product-3.png",
                    "title",
                    '200',
                    {
                        progress: {
                            value: 65,
                            reviews_count: 85
                        },
                        old_price: 800,
                        icons: {
                            favourite: false,
                            show: true,
                        }
                    }
                )
                +catalog-item(
                    "/assets/images/catalog/BestSelling/product-3.png",
                    "title",
                    '200',
                    {
                        progress: {
                            value: 65,
                            reviews_count: 85
                        },
                        old_price: 800,
                        icons: {
                            favourite: false,
                            show: true,
                        }
                    }
                )

    section
        .container
            header
                .main-title__small Just for you
                .btn.btn--light See All

            .catalog-list
                +catalog-item(
                    "/assets/images/catalog/BestSelling/product-3.png",
                    "title",
                    '200',
                    {
                        progress: {
                            value: 65,
                            reviews_count: 85
                        },
                        old_price: 800,
                        icons: {
                            favourite: false,
                            show: true,
                        }
                    }
                )
                +catalog-item(
                    "/assets/images/catalog/BestSelling/product-3.png",
                    "title",
                    '200',
                    {
                        progress: {
                            value: 65,
                            reviews_count: 85
                        },
                        old_price: 800,
                        icons: {
                            favourite: false,
                            show: true,
                        }
                    }
                )
                +catalog-item(
                    "/assets/images/catalog/BestSelling/product-3.png",
                    "title",
                    '200',
                    {
                        progress: {
                            value: 65,
                            reviews_count: 85
                        },
                        old_price: 800,
                        icons: {
                            favourite: false,
                            show: true,
                        }
                    }
                )
                +catalog-item(
                    "/assets/images/catalog/BestSelling/product-3.png",
                    "title",
                    '200',
                    {
                        progress: {
                            value: 65,
                            reviews_count: 85
                        },
                        old_price: 800,
                        icons: {
                            favourite: false,
                            show: true,
                        }
                    }
                )