extends ./../../layouts/main

block content
    section.page-block--spaced
        .container
            header
                .main-title__medium Wishlist (4)
                .btn.btn--light Move All To Bag

            .catalog-list
                +catalog-item(
                    "/assets/images/catalog/BestSelling/product-2.png",
                    "title",
                    '200',
                    {
                        progress: {
                            value: 65,
                            reviews_count: 85
                        },
                        old_price: 800,
                        icons: { delete: false },
                        info: [
                            {
                                text: '-35%',
                                theme: 'danger'
                            }
                        ]
                    }
                )
                +catalog-item(
                    "/assets/images/catalog/BestSelling/product-3.png",
                    "title",
                    '200',
                    {
                        progress: {
                            value: 65,
                            reviews_count: 85
                        },
                        old_price: 800,
                        icons: { delete: false },
                    }
                )
                +catalog-item(
                    "/assets/images/catalog/ExploreProducts/product-7.png",
                    "title",
                    '200',
                    {
                        progress: {
                            value: 65,
                            reviews_count: 85
                        },
                        old_price: 800,
                        icons: { delete: false },
                    }
                )
                +catalog-item(
                    "/assets/images/catalog/ExploreProducts/product-8.png",
                    "title",
                    '200',
                    {
                        progress: {
                            value: 65,
                            reviews_count: 85
                        },
                        old_price: 800,
                        icons: { delete: false },
                    }
                )

    section
        .container
            header
                .main-title__small Just for you
                .btn.btn--light See All

            .catalog-list
                +catalog-item(
                    "/assets/images/catalog/ExploreProducts/product-3.png",
                    "title",
                    '200',
                    {
                        progress: {
                            value: 65,
                            reviews_count: 85
                        },
                        old_price: 800,
                        icons: { show: false },
                        info: [
                            {
                                text: '-35%',
                                theme: 'danger'
                            }
                        ]
                    }
                )
                +catalog-item(
                    "/assets/images/catalog/FlashSales/product-3.png",
                    "title",
                    '200',
                    {
                        progress: {
                            value: 65,
                            reviews_count: 85
                        },
                        old_price: 800,
                        icons: { show: false },
                    }
                )
                +catalog-item(
                    "/assets/images/catalog/FlashSales/product-1.png",
                    "title",
                    '200',
                    {
                        progress: {
                            value: 65,
                            reviews_count: 85
                        },
                        old_price: 800,
                        icons: { show: false },
                        info: [
                            {
                                text: 'NEW',
                                theme: 'success'
                            }
                        ]
                    }
                )
                +catalog-item(
                    "/assets/images/catalog/FlashSales/product-2.png",
                    "title",
                    '200',
                    {
                        progress: {
                            value: 65,
                            reviews_count: 85
                        },
                        old_price: 800,
                        icons: { show: false },
                    }
                )