.btn
{
    display: inline-block;

    padding: 16px 48px;
    border-radius: 4px;
    font-weight: 500;

    transition: .2s;
    cursor: pointer;

    &:hover
    {
        filter: brightness(90%);
    }

    &:active
    {
        transform: translateY(2.5px);
    }

    &--danger
    {
        background-color : @color-red-selected;
        color: @base-light-color;
    }

    &--success
    {
        background-color : @color-green-selected;
        color: @base-light-color;
    }

    &--light
    {
        background-color : @base-light-color;
        color: @color-dark;
        border: 1px solid #808080;
    }
}