.main-footer
{
    padding-top: 80px;
    padding-bottom: 60px;

    &__inner
    {
        display: flex;
        gap: 87px;
    }

    &__title
    {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 24px;

        &.selected
        {
            font-size: 24px;
            font-weight: 600;
        }
    }

    &__send-form
    {
        width: 217px;
    }

    &__list
    {
        gap: 16px;
    }

    &__list.capitalize
    {
        text-transform: capitalize;
    }
}