extends ./../layouts/main

block content
    section.page-404
        .container
            .page-404__title 404 Not Found
            .page-404__subtitle Your visited page not found. You may go home page
            a(href='#').btn.btn--danger Back to home page