extends ./../layouts/main

block content
    section
        .container.py-5
            header
                div.main-title
                    .main-title__small Today’s

                    div.flex
                        .main-title__large Flash Sales

                        div.timer
                            .timer__item
                                p.timer__item-title Days
                                p.timer__item-time 03

                            .timer__item
                                p.timer__item-title Hours
                                p.timer__item-time 23

                            .timer__item
                                p.timer__item-title Minutes
                                p.timer__item-time 19

                            .timer__item
                                p.timer__item-title Seconds
                                p.timer__item-time 56

    section
        .container.py-5
            header
                div.main-title
                    .main-title__small Categories
                    .main-title__large Browse By Category

            .categories-list
                a(href='#').category
                    img(src='/assets/images/icons/categories/Category-CellPhone.svg').category__icon
                    p.category__title Phones

                a(href='#').category
                    img(src='/assets/images/icons/categories/Category-Computer.svg').category__icon
                    p.category__title Computers

                a(href='#').category
                    img(src='/assets/images/icons/categories/Category-SmartWatch.svg').category__icon
                    p.category__title SmartWatch

                a(href='#').category
                    img(src='/assets/images/icons/categories/Category-Camera.svg').category__icon
                    p.category__title Camera

                a(href='#').category
                    img(src='/assets/images/icons/categories/Category-Headphone.svg').category__icon
                    p.category__title HeadPhones

                a(href='#').category
                    img(src='/assets/images/icons/categories/Category-Gamepad.svg').category__icon
                    p.category__title Gaming


    section
        .container.py-5
            header
                div.main-title
                    .main-title__small This Month
                    .main-title__large Best Selling Products

    .slider


    section
        .container.py-5
            header
                div.main-title
                    .main-title__small Our Products
                    .main-title__large Explore Our Products


    section
        .container.py-5
            header
                div.main-title
                    .main-title__small Featured
                    .main-title__large New Arrival