extends ./../layouts/main

block content
    .page-block
        .container.contacts
            .left-side

            form.form.form--light.feedback-form
                .form__h-group
                    input(placeholder='Your name')
                    input(placeholder='Your Email')
                    input(placeholder='Your Phone')

                .form__h-group
                    textarea(placeholder='Your message')

                .form__group
                    input(type='submit').btn.btn--danger