extends ./../layouts/main

block content
    section
        .container
            header
                div.main-title
                    .main-title__small Today’s

                    div.flex
                        .main-title__large Flash Sales

                        +timer()


    section
        .container
            header
                div.main-title
                    .main-title__small Categories
                    .main-title__large Browse By Category

            .categories-list
                a(href='#').category
                    img(src='/assets/images/icons/categories/Category-CellPhone.svg').category__icon
                    p.category__title Phones

                a(href='#').category
                    img(src='/assets/images/icons/categories/Category-Computer.svg').category__icon
                    p.category__title Computers

                a(href='#').category
                    img(src='/assets/images/icons/categories/Category-SmartWatch.svg').category__icon
                    p.category__title SmartWatch

                a(href='#').category
                    img(src='/assets/images/icons/categories/Category-Camera.svg').category__icon
                    p.category__title Camera

                a(href='#').category
                    img(src='/assets/images/icons/categories/Category-Headphone.svg').category__icon
                    p.category__title HeadPhones

                a(href='#').category
                    img(src='/assets/images/icons/categories/Category-Gamepad.svg').category__icon
                    p.category__title Gaming


    section
        .container
            header
                div.main-title
                    .main-title__small This Month
                    .main-title__large Best Selling Products

                .btn.btn--danger View All

            .catalog-list
                article.catalog-item
                    header
                        img(src='/assets/images/catalog/ExploreProducts/product-1.png')

                    footer
                        .catalog-item__title Breed Dry Dog Food
                        .catalog-item__info
                            .catalog-item__price $100
                            +rating(100)
                            .catalog-item__rate-count 35


    .discount-block
        .container.discount.theme-dark
            .discount__info
                .discount__title-small Categories
                .discount__title-large Enhance Your <br/> Music Experience
                +timer('white-shapes')
                .discount-control
                    a(href='#').btn.btn--success Buy Now!

            .discount__light
            img(src='/assets/images/home/discount-image.png').discount__image


    section
        .container
            header
                div.main-title
                    .main-title__small Our Products
                    .main-title__large Explore Our Products

    section
        .container
            header
                div.main-title
                    .main-title__small Featured
                    .main-title__large New Arrival

            .arrival-list
                .arrival.big
                    img(src='/assets/images/home/arrivals/ArrivalLarge.png').arrival__image
                    .arrival__info
                        p.arrival__title PlayStation 5
                        p.arrival__description Black and White version of the PS5 <br/> coming out on sale.
                        a(href='#').arrival__link Shop Now


                .arrival.medium
                    img(src='/assets/images/home/arrivals/ArrivalMedium.png').arrival__image
                    .arrival__info
                        p.arrival__title Women’s Collections
                        p.arrival__description Featured woman collections that give you another vibe.
                        a(href='#').arrival__link Shop Now


                .arrival.small
                    img(src='/assets/images/home/arrivals/ArrivalSmall-1.png').arrival__image
                    .arrival__info
                        p.arrival__title Speakers
                        p.arrival__description Amazon wireless speakers
                        a(href='#').arrival__link Shop Now


                .arrival.small
                    img(src='/assets/images/home/arrivals/ArrivalSmall-2.png').arrival__image
                    .arrival__info
                        p.arrival__title Perfume
                        p.arrival__description GUCCI INTENSE OUD EDP
                        a(href='#').arrival__link Shop Now


    .services
        .container
            .services-list
                .service
                    img(src='/assets/images/home/services/Services-0.png').service__icon
                    p.service__title free and fast delivery
                    p.service__text Free delivery for all orders over $140

                .service
                    img(src='/assets/images/home/services/Services-1.png').service__icon
                    p.service__title 24/7 CUSTOMER SERVICE
                    p.service__text Friendly 24/7 customer support

                .service
                    img(src='/assets/images/home/services/Services-2.png').service__icon
                    p.service__title MONEY BACK GUARANTEE
                    p.service__text We return money within 30 days