extends ./../layouts/main

block content
    section
        .container
            header
                div.main-title
                    .main-title__small Today’s

                    div.flex
                        .main-title__large Flash Sales

                        +timer()

            .catalog-list
                +catalog-item(
                    "/assets/images/catalog/FlashSales/product-1.png",
                    "HAVIT HV-G92 Gamepad",
                    '120',
                    {
                        progress: {
                            reviews_count: 88,
                        },
                        old_price: '160',
                        icons: {
                            favourite: false,
                            show: false,
                        },
                        info: [
                            {
                                text: '-40%',
                                theme: 'danger'
                            }
                        ]
                    }
                )
                +catalog-item(
                    "/assets/images/catalog/FlashSales/product-2.png",
                    "AK-900 Wired Keyboard",
                    '960',
                    {
                        progress: {
                            value: 80,
                            reviews_count: 75,
                        },
                        old_price: 1160,
                        icons: {
                            favourite: false,
                            show: false,
                        },
                        info: [
                            {
                                text: '-35%',
                                theme: 'danger'
                            }
                        ]
                    }
                )
                +catalog-item(
                    "/assets/images/catalog/FlashSales/product-3.png",
                    "IPS LCD Gaming Monitor",
                    '370',
                    {
                        progress: {
                            value: 90,
                            reviews_count: 99,
                        },
                        old_price: 400,
                        icons: {
                            favourite: false,
                            show: false,
                        },
                        info: [
                            {
                                text: '-30%',
                                theme: 'danger'
                            }
                        ]
                    }
                )
                +catalog-item(
                    "/assets/images/catalog/FlashSales/product-4.png",
                    "S-Series Comfort Chair ",
                    '375',
                    {
                        progress: {
                            value: 90,
                            reviews_count: 99,
                        },
                        old_price: 400,
                        icons: {
                            favourite: false,
                            show: false,
                        },
                        info: [
                            {
                                text: '-25%',
                                theme: 'danger'
                            }
                        ]
                    }
                )
                +catalog-item(
                    "/assets/images/catalog/FlashSales/product-4.png",
                    "S-Series Comfort Chair ",
                    '375',
                    {
                        progress: {
                            value: 90,
                            reviews_count: 99,
                        },
                        old_price: 400,
                        icons: {
                            favourite: false,
                            show: false,
                        },
                        info: [
                            {
                                text: '-25%',
                                theme: 'danger'
                            }
                        ]
                    }
                )


    section
        .container
            header
                div.main-title
                    .main-title__small Categories
                    .main-title__large Browse By Category

            .categories-list
                a(href='#').category
                    img(src='/assets/images/icons/categories/Category-CellPhone.svg').category__icon
                    p.category__description Phones

                a(href='#').category
                    img(src='/assets/images/icons/categories/Category-Computer.svg').category__icon
                    p.category__description Computers

                a(href='#').category
                    img(src='/assets/images/icons/categories/Category-SmartWatch.svg').category__icon
                    p.category__description SmartWatch

                a(href='#').category
                    img(src='/assets/images/icons/categories/Category-Camera.svg').category__icon
                    p.category__description Camera

                a(href='#').category
                    img(src='/assets/images/icons/categories/Category-Headphone.svg').category__icon
                    p.category__description HeadPhones

                a(href='#').category
                    img(src='/assets/images/icons/categories/Category-Gamepad.svg').category__icon
                    p.category__description Gaming


    section
        .container
            header
                div.main-title
                    .main-title__small This Month
                    .main-title__large Best Selling Products

                .btn.btn--danger View All

            .catalog-list
                +catalog-item(
                    "/assets/images/catalog/BestSelling/product-1.png",
                    "The north coat",
                    '260',
                    {
                        progress: {},
                        old_price: 360,
                        icons: {
                            favourite: true,
                            show: false,
                        }
                    }
                )
                +catalog-item(
                    "/assets/images/catalog/BestSelling/product-2.png",
                    "Gucci duffle bag",
                    '960',
                    {
                        progress: {
                            value: 90
                        },
                        old_price: 1160,
                        icons: {
                            favourite: false,
                            show: false,
                        }
                    }
                )
                +catalog-item(
                    "/assets/images/catalog/BestSelling/product-3.png",
                    "RGB liquid CPU Cooler",
                    '160',
                    {
                        progress: {
                            value: 90
                        },
                        old_price: 170,
                        icons: {
                            favourite: false,
                            show: false,
                        }
                    }
                )
                +catalog-item(
                    "/assets/images/catalog/BestSelling/product-4.png",
                    "Small BookSelf",
                    '360',
                    {
                        modifiers: 'catalog-item--discount',
                        progress: {},
                        icons: {
                            favourite: false,
                            show: false,
                        }
                    }
                )


    .discount-block
        .container.discount.theme-dark
            .discount__info
                .discount__title-small Categories
                .discount__title-large Enhance Your <br/> Music Experience
                +timer('white-shapes')
                .discount-control
                    a(href='#').btn.btn--success Buy Now!

            .discount__light
            img(src='/assets/images/home/discount-image.png').discount__image


    section
        .container
            header
                div.main-title
                    .main-title__small Our Products
                    .main-title__large Explore Our Products

            .catalog-list
                +catalog-item(
                    "/assets/images/catalog/ExploreProducts/product-1.png",
                    "Breed Dry Dog Food",
                    '100',
                    {
                        progress: {
                            value: 60,
                            reviews_count: 35
                        },
                        icons: {
                            favourite: false,
                            show: false,
                        }
                    }
                )
                +catalog-item(
                    "/assets/images/catalog/ExploreProducts/product-2.png",
                    "CANON EOS DSLR Camera",
                    '360',
                    {
                        progress: {
                            value: 80,
                            reviews_count: 95
                        },
                        icons: {
                            favourite: false,
                            show: false,
                        }
                    }
                )
                +catalog-item(
                    "/assets/images/catalog/ExploreProducts/product-3.png",
                    "ASUS FHD Gaming Laptop",
                    '700',
                    {
                        progress: {
                            reviews_count: 320
                        },
                        icons: {
                            favourite: false,
                            show: false,
                        }
                    }
                )
                +catalog-item(
                    "/assets/images/catalog/ExploreProducts/product-4.png",
                    "Curology Product Set ",
                    '500',
                    {
                        progress: {
                            value: 80,
                            reviews_count: 145
                        },
                        icons: {
                            favourite: false,
                            show: false,
                        }
                    }
                )
                +catalog-item(
                    "/assets/images/catalog/ExploreProducts/product-5.png",
                    "Kids Electric Car",
                    '960',
                    {
                        progress: {},
                        icons: {
                            favourite: false,
                            show: false,
                        },
                        info: [
                            {
                                text: 'NEW',
                                theme: 'success'
                            }
                        ],
                        colours: ['#FB1314', '#DB4444']
                    }
                )

                +catalog-item(
                    "/assets/images/catalog/ExploreProducts/product-6.png",
                    "Jr. Zoom Soccer Cleats",
                    '1160',
                    {
                        progress: {
                            reviews_count: 35
                        },
                        icons: {
                            favourite: false,
                            show: false,
                        },
                        colours: ['#EEEF61', '#DB4444']
                    }
                )

                +catalog-item(
                    "/assets/images/catalog/ExploreProducts/product-7.png",
                    "GP11 Shooter USB Gamepad",
                    '660',
                    {
                        progress: {
                            value: 90,
                            reviews_count: 55
                        },
                        icons: {
                            favourite: false,
                            show: false,
                        },
                        info: [{text: 'NEW', theme: 'success'}],
                        colours: ['#000', '#DB4444']
                    }
                )
                +catalog-item(
                    "/assets/images/catalog/ExploreProducts/product-8.png",
                    "Quilted Satin Jacket",
                    '660',
                    {
                        progress: {
                            value: 90,
                            reviews_count: 55
                        },
                        icons: {
                            favourite: false,
                            show: false,
                        },
                        colours: ['#184A48', '#DB4444']
                    }
                )

    section
        .container
            header
                div.main-title
                    .main-title__small Featured
                    .main-title__large New Arrival

            .arrival-list
                .arrival.big
                    img(src='/assets/images/home/arrivals/ArrivalLarge.png').arrival__image
                    .arrival__info
                        p.arrival__title PlayStation 5
                        p.arrival__description Black and White version of the PS5 <br/> coming out on sale.
                        a(href='#').arrival__link Shop Now


                .arrival.medium
                    img(src='/assets/images/home/arrivals/ArrivalMedium.png').arrival__image
                    .arrival__info
                        p.arrival__title Women’s Collections
                        p.arrival__description Featured woman collections that give you another vibe.
                        a(href='#').arrival__link Shop Now


                .arrival.small
                    img(src='/assets/images/home/arrivals/ArrivalSmall-1.png').arrival__image
                    .arrival__info
                        p.arrival__title Speakers
                        p.arrival__description Amazon wireless speakers
                        a(href='#').arrival__link Shop Now


                .arrival.small
                    img(src='/assets/images/home/arrivals/ArrivalSmall-2.png').arrival__image
                    .arrival__info
                        p.arrival__title Perfume
                        p.arrival__description GUCCI INTENSE OUD EDP
                        a(href='#').arrival__link Shop Now


    .services
        .container
            .services-list
                .service
                    img(src='/assets/images/home/services/Services-0.png').service__icon
                    p.service__title free and fast delivery
                    p.service__text Free delivery for all orders over $140

                .service
                    img(src='/assets/images/home/services/Services-1.png').service__icon
                    p.service__title 24/7 CUSTOMER SERVICE
                    p.service__text Friendly 24/7 customer support

                .service
                    img(src='/assets/images/home/services/Services-2.png').service__icon
                    p.service__title MONEY BACK GUARANTEE
                    p.service__text We return money within 30 days