-var title = "WEB Project"

doctype
html
    head
        title #{title}

        link(rel="stylesheet" href="/assets/css/components.css")
        link(rel="stylesheet" href="/assets/css/main.css")

    body.page
        header.theme-dark
            .container
                .top-header
                    .top-header__promo-wrapper
                        .top-header__promo
                            | Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!
                            a(href="#").top-header__link.text-selected-6 ShopNow

                    a(href='#').lang-switcher
                        | English
                        .lang-switcher__inner
                            .lang-switcher__item.active English
                            .lang-switcher__item Russian
                            .lang-switcher__item Español

        div.top-navigation__wrapper
            .container
                .top-navigation
                    a.top-navigation__logo.text-selected-7 Exclusive

                    nav.navbar.navbar-horizontal
                        a(href='/').navbar__item.active Home
                        a(href='/contacts/').navbar__item Contact
                        a(href='/about/').navbar__item About
                        a(href='/login/').navbar__item Sign Up

                    .top-navigation__user-actions
                        form.top-navigation__search-form.form-block.form--light
                            input.form-block__input(placeholder="What are you looking for?")
                            button.form-block__button(type='submit')
                                img.form-block__icon(src="/assets/images/icons/search.svg")

                        .top-navigation__control
                            a(href='#').top-navigation__control-item
                                img(src='/assets/images/icons/favorites.svg')
                            a(href='#').top-navigation__control-item
                                img(src='/assets/images/icons/bucket.svg')
                            a(href='/profile/').top-navigation__control-item
                                img(src='/assets/images/icons/profile.svg')
        div.breadcrumbs
            .container
                | Home
                span.breadcrumbs__separator /
                span.active Current Page

        block content

        footer.main-footer.theme-dark
            .container
                .main-footer__inner
                    .main-footer__block
                        .main-footer__title.selected Exclusive
                        .main-footer__title Subscribe

                        nav.main-footer__list.navbar.navbar-vertical
                            a(href="#").navbar__item Get 10% off your first order

                            form.form-block.form--outline.form--dark.main-footer__send-form
                                input.form-block__input(type='email', placeholder="Enter your email")
                                button.form-block__button(type="submit")
                                    img.form-block__icon(src='/assets/images/icons/icon-send.svg')

                    .main-footer__block
                        .main-footer__title Support

                        nav.main-footer__list.navbar.navbar-vertical
                            a.navbar__item 111 Bijoy sarani, Dhaka,<br/> DH 1515, Bangladesh.
                            a(href='mailto:exclusive@gmail.com').navbar__item exclusive@gmail.com
                            a(href='tel:88015888889999').navbar__item +88015-88888-9999

                    .main-footer__block
                        .main-footer__title Account

                        nav.main-footer__list.navbar.navbar-vertical.capitalize
                            a(href='#').navbar__item My account
                            a(href='#').navbar__item Login / Register
                            a(href='#').navbar__item Cart
                            a(href='#').navbar__item Wishlist
                            a(href='#').navbar__item Shop


                    .main-footer__block
                        .main-footer__title Quick Link

                        nav.main-footer__list.navbar.navbar-vertical.capitalize
                            a(href='#').navbar__item privacy policy
                            a(href='#').navbar__item Terms Of use
                            a(href='#').navbar__item FAQ
                            a(href='#').navbar__item Contact

                    .main-footer__block
                        .main-footer__title Download App

                        .app-download
                            p.app-download__title Save $3 with App New User Only
                            .app-download__inner
                                img(src='/assets/images/footer/QrCode.png').app-download__code
                                a(href='#')
                                    img(src='/assets/images/footer/GooglePlay.png').app-download__playMarket

                                a(href='#')
                                    img(src='/assets/images/footer/AppStore.png').app-download__appStore

                        .main-footer__networks
                            a(href='#')
                                img(src='/assets/images/icons/networks/Icon-Facebook.png')

                            a(href='#')
                                img(src='/assets/images/icons/networks/Icon-Twitter.png')

                            a(href='#')
                                img(src='/assets/images/icons/networks/Icon-instagram.png')

                            a(href='#')
                                img(src='/assets/images/icons/networks/Icon-Linkedin.png')

        .copyright.theme-dark
            .container
                | Copyright Rimel 2022. All right reserved

        script(type="module", src="/assets/scripts/script.js")