-var title = "WEB Project"

doctype
html
    head
        title #{title}

        link(rel="stylesheet" href="/assets/css/components.css")
        link(rel="stylesheet" href="/assets/css/main.css")

    body.page
        header.theme-dark
            .container
                .top-header
                    .top-header__promo-wrapper
                        .top-header__promo
                            | Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!
                            a(href="#").top-header__link.text-selected-6 ShopNow

                    a(href='#').lang-switcher
                        | English
                        .lang-switcher__inner
                            .lang-switcher__item.active English
                            .lang-switcher__item Russian
                            .lang-switcher__item Español

        div.top-navigation__wrapper
            .container
                .top-navigation
                    a.top-navigation__logo.text-selected-7 Exclusive

                    nav.navbar.navbar-horizontal
                        a(href='#').navbar__item.active Home
                        a(href='#').navbar__item Contact
                        a(href='#').navbar__item About
                        a(href='#').navbar__item Sign Up

                    .top-navigation__user-actions
                        form.search-form__wrapper
                            .search-form
                                 input(placeholder='What are you looking for?')
                                 button(type='submit')
                                    img(src="/assets/images/icons/search.svg")


                        .top-navigation__control
                            a(href='#').top-navigation__control-item
                                img(src='/assets/images/icons/favorites.svg')
                            a(href='#').top-navigation__control-item
                                img(src='/assets/images/icons/bucket.svg')
                            a(href='#').top-navigation__control-item
                                img(src='/assets/images/icons/profile.svg')
        div.breadcrumbs
            .container
                | Home
                span.breadcrumbs__separator /
                span.active 404 Error


        block content

        script(type="module", src="/assets/scripts/script.js")